*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --background: linear-gradient(to top right, #1e1844,#0f172a);
  --purple: #b883fa;
  --yellow: #f9ec10;
  --ash: #33384f;
  --blue: #0384c6;
  --biscit: #934724;
  --darkwhite: #d9d9d9;
}

body{
  background-color: var(--ash);
  
}

#header{
  position: sticky;
  top: 0;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: var(--background);
  border-bottom: 1px solid white;
}

#header h1{
  color: #C2973D;
  font-weight: 500;
  font-size: 35px;
}

#main{
  overflow: auto;
  align-items: end;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 100px;
  padding-top: 50px;
  height: 80vh;
  background-image: var(--background);
  
}

.req{
  max-width: 90%;
  height: auto;
  background-color: var(--ash);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.req p{
  color: white;
  line-height: 1.5;
  overflow: auto;
  font-weight: 800;
}

.res{
  width: 100%;
  height: auto;
  padding: 5px;
  margin-bottom: 10px;
  
}

.res p{
  color: var(--darkwhite);
  line-height: 1.5;
  overflow-wrap: break-word;
  
}

#footer{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 100%;
  bottom: 20px;
  display: flex;
  padding: 20px;
  background-color: var(--ash);
  border-radius: 30px 40px 0 0;
  min-height: 100px;
}

#footer textarea{
  width: 85%;
  outline: none;
  background-color: var(--ash);;
  border: 1px solid white;
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-weight: 800;
  height: 100%;
}

.send{
  border: none;
  outline: none;
  color: white;
  background: none;
  font-size: 32px;
  transition: scale 0.3s ease;
}

.send:active{
  scale: 0.8;
}


  @keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  


